*{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
nav h1{
    font-size: 2.3rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

a{
    text-decoration: none;
    font-size: 1.9rem;
    margin: 0 1rem;
}

video{
    width: 100%;
}

#hero{
    height: 100vh;
    position: relative;
}

#hero h1{
    position: absolute;
    z-index: 1;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem;
}

#about{
    height: 100vh;
    display: flex;
    margin-top: 10rem;
  
}

#about .left img{
    width: 50%;
    border-radius: 0.8rem;
}

#about .left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#service{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

#service .lower{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20rem;
    background-color: blue;
    color: white;
    padding: 1rem;
    border-radius: 0.8rem;
}
#service .card img{
    height: 15rem;
    width: 20rem;
}
#service h1{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 0.8rem;
    padding: 0.3rem;
}

#contact{
    display: flex;
    width: 20rem;
    padding: 10rem;
}
#contact form input{
    width: 20rem;
    height: 2rem;
    margin: 0.3rem;
}
text{
    width: 40rem;
    height: 40rem;
   
}